.forside {
    padding-bottom: 2rem;
}

.lenkeboks_container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;

    @media all and (min-width: 601px) {
        flex-direction: row;

        &.lenkeboks_container--2_spalter {
            .lenkeboks:nth-child(1) {
                margin-right: 0.5rem;
            }

            .lenkeboks:nth-child(2) {
                margin-left: 0.5rem;
            }
        }

        &.lenkeboks_container--3_spalter {
            .lenkeboks:nth-child(1) {
                margin-right: 0.5rem;
            }

            .lenkeboks:nth-child(2) {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }

            .lenkeboks:nth-child(3) {
                margin-left: 0.5rem;
            }
        }

        .lenkeboks {
            min-height: 176px;
        }
    }

    @media all and (max-width: 600px) {
        flex-direction: column;
        width: 100%;

        &.lenkeboks_container--2_spalter {
            margin-bottom: 0;
            display: block;
        }

        .lenkeboks {
            max-width: none;
            width: 100%;
        }

        .lenkeboks:nth-child(1) {
            margin-bottom: 1rem;
            margin-left: 0;
            margin-right: 0;
        }

        .lenkeboks:nth-child(2) {
            margin-bottom: 1rem;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .lenkeboks {
        background-color: white;
        flex-grow: 1;
        flex-basis: 0;

        display: flex;
        flex-direction: column;
        border-radius: 4px;
        padding: 1rem;

        @media all and (max-width: 600px) {
            max-width: none;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0.7rem;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid #b7b1a9;
            }
        }
    }

    .lenkeboks_med_border {
        border: solid 1px #78706a;

        li {
            border: none !important;
        }
    }

    .lenkeboks_med_border:nth-child(1) {
        margin-right: 1rem !important;
    }

    .lenkeboks_forside {
        padding: 2rem;
    }
}

.infopanel {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left !important;

        li {
            margin-bottom: 0.7rem;
        }
    }
}

.varsel {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-color: black;
}

.varsel__ikon {
    position: relative;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    padding: 0;
    //width: 50px;
    min-width: 50px;
    min-height: 50px;
}

@media (min-width: 38.75em) {
    .varsel__ikon {
        min-width: 72px;

        min-height: 60px;
    }
}

.varsel__pulse {
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation-name: shockwave;
    animation-direction: normal;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.varsel__sirkel {
    position: absolute;
    z-index: 1;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffa733;
    animation-name: compression;
    animation-direction: normal;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.varsel__tekst {
    //padding-left: 50px;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    text-align: left;
}

@keyframes compression {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(0.85);
    }
    20% {
        transform: scale(1);
    }
}

@keyframes shockwave {
    0% {
        background-color: #ffd399;
        transform: scale(0.85);
    }
    15% {
        transform: scale(0.85);
    }
    20% {
        background-color: #ffd399;
        transform: scale(1);
    }
    50% {
        background-color: transparent;
        transform: scale(3);
    }
}
