.kommunesok_midlertidig > .kommunesok {
  padding-left: 0;
}

.punktliste_med_luft {

  > li {
    margin-bottom: 1rem;
  }
}

.sok_sosialhjelp_video {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (max-width: 599px) {
    .sok_sosialhjelp_video_player {
      border: none;
      height: 49vw;
      width: calc(~"100vw - 34px");
    }
  }
  @media all and (max-width: 799px) and (min-width: 600px) {
    .sok_sosialhjelp_video_player {
      border: none;
      height: 45vw;
      width: calc(90vw - 190px);
    }
  }

  @media all and (min-width: 800px) {
    .sok_sosialhjelp_video_player {
      border: none;
      height: 319px;
      width: 568px;
    }
  }
}

